*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
body{
    display: flex;
    flex-direction: column;
    min-height: 100 vh;
    background-color: #f4bee8;
}
.link{
    margin: 20px;
    width: fit-content;
    position: relative;
    text-decoration: 0;
    background-color: aqua;
    color:#fff ;
    padding: 10px 25px;
    border-radius: 6px;
    font-size: 14 px;


}
span{
    position:absolute;
    top: -9px;
    right: -9px;
    background-color: red;
    height: 20 px;
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size:12px;
    color: #fff;


}
.product_list{
    margin: 100px;
    position: relative;
    width: 70%;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(170px,1fr));
    grid-gap: 25px;


}
.product{
    background-color: #fff;
    width: 100%;
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
    border-radius: 6px;
    overflow: hidden;
    transition: 0,5s;
}
.product:hover{
    transform: scale(1.1);
}
.images_product{
   height: 200px; 
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: center;

}
.images_product img{
    height:180px;
    width: 80%;
    object-fit: cover;
    padding:20px;
    border-radius: 100%;
    
}
.content{
    margin-top:0px;
    margin-bottom:30px;
    height: fit-content;
    text-align: center;

}
.price{
    margin:15px 0;
    font-weight: 400;
    color: #37a6ff;

}
.id_produit{
    text-align: center;
    text-decoration: 0;
    background-color: #37a6ff;
    letter-spacing: 1px;
    color: #fff;
    padding:10px 10% ;
    border-radius: 6px;

}
/* pannier css */
.pannier{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
.pannier img{
    width: 40px;
    padding:8px 0 ;
}
.pannier .img2{
    width: 50px;
    border-radius: 100%;
    
}
.pannier section{
    width: 70%;
    background-color: #fff;
    padding: 10px;
    border-radius: 6px;
} 
table{
    border-collapse: collapse;
    width: 100%;
    letter-spacing: 1px;
    font-size: 13px;
}
th{
    padding: 10px 0;
    font-weight: 400;
    
}
td{
    border-top: 0.5px solid #999;
    text-align: center;
    color: #37a6ff;
    
}
tr{
    
    border-bottom: 0.5px solid #999;
}
.total th{
    border: 0;
    float: left;
    font-weight: bold;
    color: #37a6ff;
    padding: 10px;

}















